﻿{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="contacts-page container">
        <div class="contacts-header padding-site">
            <div class="header">
                <a href="#" class="logo"><img src="/static/img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="{% url 'main'%}">HOME</a></li>
                    <li><a href="{% url 'products'%}">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="{% url 'contacts'%}" class="active-link">CONTACTS</a></li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
            </div>
            <div class="slider-text">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div class="content padding-site">
            <div class="shop-case">
                <div class="item">
                    <i class="fas fa-map-marker-alt map-icon"></i>
                    <h2>California</h2>
                    <div class="text-info">
                        <h4>Phone:</h4>
                        <h4 class="text">1900 - 1234 -5678</h4>
                        <h4>Email:</h4>
                        <h4 class="text">info@interior.com</h4>
                        <h4>Address:</h4>
                        <p class="adress text">12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>
                <div class="item">
                    <i class="fas fa-map-marker-alt map-icon"></i>
                    <h2>California</h2>
                    <div class="text-info">
                        <h4>Phone:</h4>
                        <h4 class="text">1900 - 1234 -5678</h4>
                        <h4>Email:</h4>
                        <h4 class="text">info@interior.com</h4>
                        <h4>Address:</h4>
                        <p class="adress text">12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>
                <div class="item">
                    <i class="fas fa-map-marker-alt map-icon"></i>
                    <h2>California</h2>
                    <div class="text-info">
                        <h4>Phone:</h4>
                        <h4 class="text">1900 - 1234 -5678</h4>
                        <h4>Email:</h4>
                        <h4 class="text">info@interior.com</h4>
                        <h4>Address:</h4>
                        <p class="adress text">12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer padding-site">
            <div class="contact">
                <h3>Contact Us</h3>
                <p>132A Bridge Road Richmond VIC Australia.</p>
                <p>Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="useful-info">
                <h3>Useful Information</h3>
                <div class="block">
                    <div class="block-1">
                        <a href="#">Sales terms</a>
                        <a href="#">Customer care</a>
                        <a href="#">Delivery</a>
                    </div>
                    <div class="block-2">
                        <a href="#">Architect accounts</a>
                        <a href="#">Careers</a>
                        <a href="#">Exchanges &amp; returns</a>
                    </div>
                </div>
            </div>
            <div class="subs">
                <h3>Let’s Stay in Touch!</h3>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <form class="email" action="">
                    <input type="email" placeholder="your email address">
                    <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                </form>
            </div>
            <div class="copyrights">
                <h4>© Copyright - INTERIOR 2016. All Rights Reserved.</h4>
                <div class="social-links">
                    <a href="#" class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </div>
                <h4>Terms &amp; Conditions / Privacy policy &amp; Cookies</h4>
            </div>
        </div>
    </div>
</body>

</html>
