﻿{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Products</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="product container">
        <div class="product-header padding-site">
            <div class="header">
                <a href="#" class="logo"><img src="/static/img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="{% url 'main'%}">HOME</a></li>
                    <li><a href="{% url 'products'%}" class="active-link">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="{% url 'contacts'%}">CONTACTS</a></li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
            </div>
            <div class="slider-text">
                <h2>Our Products Range</h2>
            </div>
        </div>
        <div class="padding-site trends">
            <ul class="sort">
                <li><a href="#" class="active-sort">All</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Modern</a></li>
                <li><a href="#">Classic</a></li>
            </ul>
            <div class="shop-case">
                <div class="item">
                    <img src="/static/img/trends/trend-1.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-2.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-3.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-4.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-5.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-6.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-1.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-2.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-3.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-4.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-5.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/trends/trend-6.jpeg" alt="product image" class="product-image">
                    <div class="middle">
                        <a href="/product/" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    </div>
                </div>
            </div>
  <!--          <a href="#" class="refresh">
                        <i class="fas fa-sync-alt"></i>
                    </a>-->
        </div>
        <div class="promo">
            <div class="promo-product promo1">
                <h3>exclusive</h3>
                <h2>Fishet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="/product/" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
            <div class="promo-product promo2">
                <h3>exclusive</h3>
                <h2>Fishet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="/product/" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
        </div>
        <div class="footer padding-site">
            <div class="contact">
                <h3>Contact Us</h3>
                <p>132A Bridge Road Richmond VIC Australia.</p>
                <p>Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="useful-info">
                <h3>Useful Information</h3>
                <div class="block">
                    <div class="block-1">
                        <a href="#">Sales terms</a>
                        <a href="#">Customer care</a>
                        <a href="#">Delivery</a>
                    </div>
                    <div class="block-2">
                        <a href="#">Architect accounts</a>
                        <a href="#">Careers</a>
                        <a href="#">Exchanges &amp; returns</a>
                    </div>
                </div>
            </div>
            <div class="subs">
                <h3>Let’s Stay in Touch!</h3>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <form class="email" action="">
                    <input type="email" placeholder="your email address">
                    <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                </form>
            </div>
            <div class="copyrights">
                <h4>© Copyright - INTERIOR 2016. All Rights Reserved.</h4>
                <div class="social-links">
                    <a href="#" class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </div>
                <h4>Terms &amp; Conditions / Privacy policy &amp; Cookies</h4>
            </div>
        </div>
    </div>
</body>

</html>
